/*--Overall Styling */
    /* background-color: #575aad; */
.test{
    height: 600;
}
#nav-btn{
    position: sticky;
}
#firstHr{
    border: 1px solid thistle;
    width: 100vw !important;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
 body {
    font-size: 16px;
    line-height: 1;
    background-color: #000000;
    overflow: auto;
} 
/* #data-ccountryid{
    align-items: center;
} */


#nav-bar {
    background-color: #000000;
    font-size: 40px !important;
    font-weight: bolder;
    height: auto;
    color: thistle;
}
.btn-outline-success:hover{
    background-color: thistle;
    color: #000000 !important;
}
#meet-the-team-btn:hover{
    background-color: thistle;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
#homebtn:hover{
    background-color: thistle;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
#search:hover{
    background-color: thistle;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
#united-states-stats-btn:hover{
    background-color: thistle;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
#top-ten-countries-effected:hover{
    background-color: thistle;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
.btn{
    margin: 10px;
    border-radius: 15px;
    border: 1px solid thistle !important;
}
#meet-the-team-btn, #top-ten-countries-effected, #search, #united-states-stats-btn, #homebtn{
    margin: 10px;
    border-radius: 15px;
    border: 1px solid thistle !important;
    color: thistle !important;
}
.hire-me{
    margin: 10px;
    height: 50px !important;
    border-radius: 15px;
    border: 1px solid thistle !important;
    color: thistle !important; 
    background-color: #000000 ;
}

.name-title{
    text-align: center;
    font-size: 60px;
}


#searchCountry, #input {
    padding: 10px;
}
#searchForm{
    text-align: center;
}
#search{
    color: thistle;
    font-weight: bolder;
}

#input {
    width: auto;
}

#error{
    color: red;
}
.fas {
    color: white;
}

h1 {
    font: outline;
    font-size: 20px;
    padding: 20px;
}
.title, .subtitle {
    text-align: center;
}


#country-title, .top-10, #global-title{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: whitesmoke;
    border-radius: 2px solid whitesmoke;
    background-color: transparent;

}
.country-container, .global-container {
    min-width: 60px;
    text-align: center;
    border-radius: 40px;
    min-height: 60px;
    width: auto;
}
#countryInput{
    min-width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    
}
/* =============GLOBAL SECTION========= */
.global-stats-card, .top-10, .top-ten{
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-group-item{
    text-align: center;
}
/* =============GLOBAL SECTION========= */
#dashboard {
    /* background-color: #404040 */
    background-color: #000000;
}

#stats {
    background-color: #000000;
}

#cardDiv {
    margin: 15px;
    align-items: center;
    position: relative;
}
.card-title{
    border-bottom: 2px solid;
    padding: 20px;
    color: #000000;
}
.card-subtitle{
    color: black;
    padding: 10px;
}
.parentheses{
    font-style: italic;
    font-size: smaller;
    color: wheat;
}
#message{
    background-color: darkgoldenrod;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
main {
    background-color: #000000;
    padding-bottom: 80px;
}
.united-states, .meet-the-teamTxt, .top-ten, .global-stats{
text-align: center;
padding-top: 10px;
background-color: #000000;
color: #ECE8FF;
font-size: 30px;
font-weight: bolder;
}

.us-stats-header{
    color: white;
}
#total_TestedResults, #total_hospitalized, #total_confirmed, #onVentilator,  #total_recovered, #total_deaths{
    font-size: x-large;
    font-weight: bolder;
    padding: 5px;
}
h5, #total_TestedResults, #total_hospitalized, #total_confirmed, #onVentilator,  #total_recovered, #total_deaths {
    padding: 20px;
    margin: 10px;
}


#chartCard{
    background-color: whitesmoke;
    width: 90vw;
    border-radius: 40px;
   
}


.global-container, .country-container, .country-container, .stats-container {
    color: yellow;
    background-color: #404040;
    font-weight: bolder;
    text-align: center;

    display: inline-block;
    text-align: center;

}

hr{
    background-color: black;
}





.container {
    display: block;
}


h4 {
	font-size: 85%;
 	color: whitesmoke;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 300;
 	text-align: center;
 	padding-top: 20px;
 	padding-left: 20px;
 	padding-right: 20px;
 	padding-bottom: 5px;
}



/*--Media Queries */

@media screen and (max-width: 576px) {
    .navbar-brand {
    text-align: center;
    /* padding: 15px; */
}


}

@media screen and (min-width: 768px) {
    .navbar-brand { 
    text-align: center;
    /* padding: 15px; */
}

}
/* =============Team Page Begins============= */

#chartCard {
    padding-right: 1px !important;
    border: 1px solid whitesmoke !important;
    margin: 10px !important;
    border-radius: 30px;
    background-color: thistle;
    display: block;
}
.divider{
    margin-top: 40px;
    border: 1px solid thistle;
    width: 100vw !important;
}
.meet-the-team{
    /* padding-right: 1px !important; */
    border: 1px solid whitesmoke !important;
    margin: 10px !important;
    background-color: thistle;

}
.card-body{
    padding: 0;
}
.card-image{
    max-width: 200px;
}
#nav-bar {
    background-color: #000000 !important;
    border-style: solid;
    border: 2px solid thistle !important;
    /* border-radius: 40px !important; */
    text-align: center;
}

.myGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
@media (max-width: 768px) {
    .myGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px
    }
    .mySubGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 15px
    }
}
@media (max-width: 576px) {
    .myGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .mySubGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 15px
    }
}
/* =============Team Page Ends============= */

#menu{
    background-color: #000000;
}
.thevirustracker{
    background-color: thistle;
    max-width: 200px;
    position: sticky;
}
.top-10{
    display: inline-block;
    margin: 20px;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    background-color: #000000;
    padding-top: 10px;
    font-size: 12px;
    align-items: center;
  }

  