/*--Overall Styling */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* body {
    font-size: 16px;
    line-height: 1;
} */

header {
    font-size: 40px;
    font-weight: bolder;
    background: linear-gradient(to right,#8765a8,#743ad5, #575aad);
    color: white;
    text-align: center;
    padding: 25px;
}

.container {
    width: 100%;
    padding-top: 20px;
    clear: both;
    float: right;
}

section {
    overflow: auto;
    clear: both;
    width: 100%;
  }

/* Search for a city sidebar */

#sideNav {
    height: 100%; 
    width: 60vw !important;
    position: fixed;
    /* top: 90px;  */
    left: 0;
    background-color: rgb(247, 245, 245);
}

h1 {
    font-size: 20px;
    text-align: left;
    padding: 20px 0px 10px 5px;   
}

#search {
    background-color: #575aad;
}
#error{
    color: red;
}
.fas {
    color: white;
}

/*--Daily Forecast */
.card {
    border: 7px solid #575aad;
    /* border-color:  linear-gradient(to right, #feb47b, #575aad); */
	margin-right: 5%;
	margin-left: 5%;
}

h2 {
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}

p {
    padding-bottom: 250px;
    color: grey;
}

a {
    font-size: 18px;
    color: grey;
    line-height: 35px;
}

ul {
    color: grey;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
}



html {
	height: 100%;
	width: 100%;
}


.subtitle {
	padding: 20px;
	font-size: 150%;
}

.stats-container {
	text-align: center;
	float: right;
	display: inline-block;
}
.location-container {
	display: inline-block;
}
.data-container {
	border: 2px solid #feb47b;
	margin-right: 30%;
	margin-left: 30%;

}
h4 {
	font-size: 85%;
 	color: gray;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 300;
 	text-align: center;
 	padding-top: 20px;
 	padding-left: 20px;
 	padding-right: 20px;
 	padding-bottom: 5px;
}

/*--Media Queries */

@media screen and (max-width: 576px) {
    .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
}
}

@media screen and (max-width: 768px) {
    .navbar-brand { 
    text-align: center;
    padding: 0 auto;
    width: 100%;
}
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    background-color: #575aad;
    /* padding-top: 10px; */
    font-size: 12px;
    align-items: center;
  }